/* Importing font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

    body {
        margin: 0; /*External margin*/
        padding: 0; /*Internal margin*/
    }

    /* Navegation menu */
    #main {
        width: 100%;
        height: 100px;
        background-color: #303030;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #bababa;

    }

        #menu {
            display: flex;
            width: 52%;
            justify-content: space-around;
            
        }

        #main div a {
            font-family: "Inter";
            font-size: 25px;
            font-weight: 600;
            color: white;
            text-decoration: none;
        }

        #main div a:hover {
            color: #cccccc;
        }

        #main button {
            margin-right: 5%;
            background-color: #0c70f2;
            border: 0;
            color: white;
            font-family: "Inter";
            font-size: 20px;
            font-weight: 600;

            height: fit-content;
            padding: 10px;
            box-shadow: 3px 2px 4px rgba (12, 112, 242, 0.25);
            cursor: pointer;

        }